<div class="inner_pages store-coordinate-page">

  <nb-card-header class="main_header">
    <h1 class="page_title">{{ 'COMPONENTS.STORE_COORDINATE' | translate}}</h1>
    <div class="content_spacing">
      <button type="button" nbButton class="success_button" (click)="save()">{{'COMMON.SAVE' | translate }}</button>
    </div>
  </nb-card-header>

  <div [nbSpinner]="loader" nbSpinnerSize="large" nbSpinnerStatus="primary">

    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

        <form [formGroup]='form' class="storeCoordinateManagement">
          <nb-card class="nb-card inline-form-card">
            <nb-card-header class="nb-card-header">
              Choose a store
              <ngx-store-autocomplete (onStore)="onSelectStore($event)" [merchant]="merchantSelected"></ngx-store-autocomplete>
            </nb-card-header>
            <nb-card-body class="nb-card-body">
              <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                  <div class="form-group">
                    <label for="latitude" class="col-sm-12 col-form-label inputLabel">{{ 'STORE_COORDINATE.LATITUDE' | translate }} *</label>
                    <div class="col-sm-12">
                      <input type="number" class="form-control inputText" id="latitude" formControlName='latitude' placeholder="{{ 'STORE_COORDINATE.LATITUDE' | translate }}"
                        required>
                      <span *ngIf="(latitude.dirty || latitude.touched) && latitude.invalid && latitude.errors.required" class="err-message">
                        {{ 'STORE_COORDINATE.LATITUDE_REQUIRED' | translate }}
                      </span>
                    </div>
                  </div>
                </div>

                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                  <div class="form-group">
                    <label for="longitude" class="col-sm-12 col-form-label inputLabel">{{ 'STORE_COORDINATE.LONGITUDE' | translate }} *</label>
                    <div class="col-sm-12">
                      <input type="number" class="form-control inputText" id="longitude" formControlName='longitude' placeholder="{{ 'STORE_COORDINATE.LONGITUDE' | translate }}"
                        required>
                      <span *ngIf="(longitude.dirty || longitude.touched) && longitude.invalid && longitude.errors.required" class="err-message">
                        {{ 'STORE_COORDINATE.LONGITUDE_REQUIRED' | translate }}
                      </span>
                    </div>
                  </div>
                </div>
              </div>
  
            </nb-card-body>
          </nb-card>
        </form>


      </div>
    </div>
   
  </div>

</div>

